
.vs

/scr/Builds
scr/BreadConquest/[Ll]ibrary/
scr/BreadConquest/[Tt]emp/
scr/BreadConquest/[Oo]bj/
scr/BreadConquest/[Bb]uild/
scr/BreadConquest/[Bb]uilds/
scr/BreadConquest/[Ll]ogs/
scr/BreadConquest/[Uu]ser[Ss]ettings/